<%- include('partials/header'); %>

  <div class="row text-center logo">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>C</h2>
      <p>Quick Guide <span class="by">By</span> Attaullah Khan</p>
    </div>
  </div>

  <hr class="logo-horizontal-rule">

<%- include('contents/content-list'); %>

  <hr class="mt-5 mb-5">

<%- include('docs/preprocessor-directives'); %>

<%- include('partials/footer'); %>
